<!-- 
Sample launch file for vosl_demo
Adjust with your own machine
Paths must be absolute
-->

<launch>

<env name="LD_LIBRARY_PATH" value="$(env LD_LIBRARY_PATH):/home/sujiwo/caffe-segnet/lib" />

<!-- Required -->
<arg name="vocabulary" value="/home/sujiwo/VMML/libopenvslam/orb_vocab.dbow2" />
<!-- Optional -->
<arg name="segnet_model" value="/home/sujiwo/caffe-segnet/segnet_model_driving_webdemo.prototxt" />
<arg name="segnet_weight" value="/home/sujiwo/caffe-segnet/segnet_weights_driving_webdemo.caffemodel" />
<arg name="work_dir" value="/home/sujiwo/VmmlWorkspace/test_dir" />
<arg name="bag_file" value="/Data/MapServer/Logs/motoyama/motoyama.bag" />
<arg name="retinex" value="" />
<arg name="resample" value="12.0" />
<arg name="start_time" value="-1" />
<arg name="stop_time" value="-1" />
<arg name="resize" value="1" />

<node
	name="vosl_demo"
	pkg="vmml_visualization"
	type="vosl_demo"
	args="--work-dir $(arg work_dir) \
	--bag-file $(arg bag_file) \
	--resample=$(arg resample) \
	--segnet-model $(arg segnet_model) \
	--segnet-weight $(arg segnet_weight) \
	--vocabulary $(arg vocabulary) \
	--resize $(arg resize) \
	$(arg retinex) \
	--start-time=$(arg start_time) \
	--stop-time=$(arg stop_time)" 
/>

</launch>